In [1]:
# List

lst = ['Song', 'Nam', 'Jung', 'Kim', 'Park']
lst_mix = [90, 'Python', True, lst]

In [2]:
print(lst)

['Song', 'Nam', 'Jung', 'Kim', 'Park']

In [3]:
print(lst_mix)

[90, 'Python', True, ['Song', 'Nam', 'Jung', 'Kim', 'Park']]

In [4]:
print(lst[4])

Park

In [5]:
print(lst_mix[3])

['Song', 'Nam', 'Jung', 'Kim', 'Park']

In [6]:
print(lst_mix[3][1])

Nam

In [7]:
lst_mix[3][3] = 'Lee'
print(lst_mix[3])

['Song', 'Nam', 'Jung', 'Lee', 'Park']

In [8]:
lst_num = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [9]:
print(lst_num[1:9:2])

[20, 40, 60, 80]

In [10]:
del lst_num[4]

In [11]:
print(lst_num)

[10, 20, 30, 40, 60, 70, 80, 90, 100]

In [12]:
print(30 in lst_num)

True

In [13]:
print(50 in lst_num)

False

In [14]:
ret_num = lst_num.pop()

In [15]:
print(ret_num)
print(lst_num)

100
[10, 20, 30, 40, 60, 70, 80, 90]

In [16]:
lst_num.index(60)

4

In [17]:
lst_num.append(60)

In [18]:
print(lst_num)

[10, 20, 30, 40, 60, 70, 80, 90, 60]

In [19]:
lst_num.count(60)

2

In [20]:
lst_num.index(60)

4

In [21]:
lst_num.sort()

In [22]:
print(lst_num)

[10, 20, 30, 40, 60, 60, 70, 80, 90]

In [23]:
lst_num.reverse()
print(lst_num)

[90, 80, 70, 60, 60, 40, 30, 20, 10]

In [24]:
tup = 10, True, 'Python'

In [25]:
print(tup)

(10, True, 'Python')

In [26]:
tup1 = 15,

In [27]:
print(type(tup1))

<class 'tuple'>

In [28]:
a = 15

In [29]:
print(type(a))

<class 'int'>

In [30]:
set_num = {1, 2, '삼', 4, '오'}

In [31]:
print(set_num)
print(type(set_num))

{1, 2, 4, '삼', '오'}
<class 'set'>

In [32]:
set_num.add(3)

In [33]:
print(set_num)

{1, 2, 3, 4, '삼', '오'}

In [34]:
set_num.add('삼')

In [35]:
print(set_num)

{1, 2, 3, 4, '삼', '오'}

In [36]:
set_1 = {1, 2, 3, 4, 5, 6, 7}
set_2 = {3, 4, 6, 8, 9, 10}

In [37]:
set_1.intersection(set_2)

{3, 4, 6}

In [38]:
set_1.union(set_2)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [39]:
set_1.difference(set_2)

{1, 2, 5, 7}

In [40]:
a = [1, 2, 3, 4, 5, 6, 3, 1, 7]

In [42]:
print(a, type(a), sep=' >>> type : ')

[1, 2, 3, 4, 5, 6, 3, 1, 7] >>> type : <class 'list'>

In [43]:
b = tuple(a)

In [44]:
print(type(b))

<class 'tuple'>

In [45]:
print(b)

(1, 2, 3, 4, 5, 6, 3, 1, 7)

In [46]:
c = set(b)

In [47]:
print(type(c))

<class 'set'>

In [48]:
print(c)

{1, 2, 3, 4, 5, 6, 7}

In [51]:
i = 0

while True:
    i += 1
    
    if i % 3 == 0:
        print('짝')
        continue
        
    print(i)
    
    if i % 10 == 0:
        print('끝!!')
        break

1
2
짝
4
5
짝
7
8
짝
10
끝!!

In [52]:
i = 0
sum = 0

while i < 100:
    i += 1
    sum += i
    
print("1~100까지의 합 = ", sum)

1~100까지의 합 :  5050

In [59]:
i = 0
sum = 0

while i < 200:
    i += 1
    
    if i % 2 == 0: 
        sum += i
    
print("1~200까지의 짝수 합 = ", sum)

1~200까지의 짝수 합 =  10100

In [ ]:
lst_menu = []
menu = ''
exit = ''


while True:
    메뉴판 ver 1
    
    if menu == '2':
        lst_menu.append('짬뽕')
        print('짬뽕을 선택하셨습니다.')
        exit = input("메뉴를 추가하시겠습니까? (Y / N): ")
        
        if exit == 'Y':
            continue
        else
            break
        
print(lst_menu + "를 선택하셨습니다. 감사합니다.")

['짬뽕', '돈가스', '파스타'] 를 선택하셨습니다. 감사합니다.